absl-py 
aiohttp 
aiosignal 
altair 
appdirs 
arabic-reshaper 
asgiref 
asn1crypto 
async-timeout 
attrs
awscli
blinker 
boto3
botocore
cachelib
cachetools 
certifi
cffi
chardet 
charset-normalizer 
click 
colorama 
comtypes 
contourpy 
cryptography
cssselect 
cssselect2 
customtkinter 
cycler
darkdetect 
Deprecated
distlib 
Django 
docker 
docutils
EasyProcess
entrypoint2
filelock
Flask 
Flask-MySQLdb 
flatbuffers
fonttools
freetype-py 
frozenlist 
gitdb 
GitPython 
gunicorn
howdoi 
html5lib
idna
image-dehazer 
importlib-metadata 
itsdangerous 
jaraco.classes 
Jinja2 
jmespath 
jsonschema
jsonschema-specifications
keep
keyring
keyrings.alt 
kiwisolver 
lxml 
markdown-it-py 
MarkupSafe 
matplotlib 
mdurl 
more-itertools 
MouseInfo 
mpmath 
mss 
multidict 
mysql 
mysql-connector-python 
mysqlclient 
networkx
numpy
openai
opencv-contrib-python
opencv-python 
oscrypto 
packaging
pandas 
Pillow 
platformdirs 
protobuf
psutil 
pyarrow
pyasn1 
PyAudio 
PyAutoGUI 
pycairo
pycparser
pydeck 
PyGetWindow 
PyGithub 
Pygments
pyHanko
pyhanko-certvalidator
PyJWT 
PyMsgBox 
PyMySQL 
PyNaCl 
pyparsing 
pypdf
pyperclip 
pypiwin32
pypng 
pyquery 
PyRect 
pyscreenshot
PyScreeze 
python-bidi 
python-dateutil 
pyttsx3
pytweening 
pytz
pypiwin32
PyYAML 
qrcode 
referencing
reportlab 
requests
rich
rlPyCairo 
rpds-py
rsa 
ruamel.yaml
ruamel.yaml.clib 
s3transfer 
scipy
seaborn
six
smmap 
sounddevice 
SpeechRecognition
sqlparse 
streamlit
svglib 
sympy
tabulate 
tenacity 
terminaltables
tinycss2 
toml
toolz
torch 
torchvision
tornado 
tqdm
typing_extensions 
tzdata
tzlocal
ultralytics 
uritools 
urllib3
validators
virtualenv
voluptuous
watchdog 
webencodings 
websocket-client 
Werkzeug 
wrapt
xhtml2pdf 
yarl 
yolo 
zipp
